[phases.setup]
# AQUI ESTAVA O ERRO: Não use "python3" e "python311" juntos.
# Usamos apenas "python311" para garantir uma única versão compatível.
nixPkgs = ["python311", "ffmpeg", "gcc"]

[phases.install]
# O comando pip garante que usamos o python3.11 instalado acima
cmds = ["python3 -m pip install --upgrade pip", "python3 -m pip install -r requirements.txt"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port 80"