[variables]
# Mantemos isso para alinhar o sistema e evitar que ele baixe o Python 3.12 escondido
NIXPACKS_PYTHON_VERSION = "3.11"

[phases.setup]
# AQUI ESTÁ A CORREÇÃO:
# Adicionamos "python311" (o interpretador) E "python311Packages.pip" (o instalador)
nixPkgs = ["python311", "python311Packages.pip", "ffmpeg", "gcc"]

[phases.install]
# Usamos 'python3' pois o pacote python311 cria esse atalho
cmds = ["python3 -m pip install --upgrade pip", "python3 -m pip install -r requirements.txt"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port 80"