# Definimos a versão do Python via variável. 
# Isso faz o sistema automático usar a 3.11 nativamente, evitando conflito com a 3.12.
[variables]
NIXPACKS_PYTHON_VERSION = "3.11"

[phases.setup]
# Apenas bibliotecas EXTRAS aqui. O Python será instalado automaticamente pela variável acima.
# Removemos 'python311' desta lista para não duplicar.
nixPkgs = ["ffmpeg", "gcc"]

[phases.install]
cmds = ["python -m pip install --upgrade pip", "python -m pip install -r requirements.txt"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port 80"